NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=

# Analíticas
NEXT_PUBLIC_POSTHOG_KEY=
NEXT_PUBLIC_POSTHOG_HOST=

# Monitoreo
NEXT_PUBLIC_SENTRY_DSN=

# Admin
NEXT_PUBLIC_ADMIN_EMAIL=
ADMIN_EMAIL=

# Pagos SaaS
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=
NEXT_PUBLIC_STRIPE_PRICE_BASICO_MO=
NEXT_PUBLIC_STRIPE_PRICE_BASICO_YR=
NEXT_PUBLIC_STRIPE_PRICE_PRO_MO=
NEXT_PUBLIC_STRIPE_PRICE_PRO_YR=
NEXT_PUBLIC_STRIPE_PRICE_GROW_MO=
NEXT_PUBLIC_STRIPE_PRICE_GROW_YR=
NEXT_PUBLIC_APP_URL=
